// Sizes
$max-width: {{ .Param "style.pageWidth" | default "750px;" }};
$avatar-size: {{ .Param "style.avatarSize" | default "90px;" }};

// Colors
$black: {{ .Param "style.colorBlack" | default "#222222" }};
$red: {{ .Param "style.colorRed" | default "#dc3545" }};
$white: {{ .Param "style.colorWhite" | default "#f9f9f9" }};

// Font
$font-family: {{ .Param "style.fontFamily" | default "Charter" }};
$font-size: 1em;

@import 'fonts';
@import 'style';
@import 'syntax';
