// Fonts
$font-family-body: "Charter", "Source Serif 4", serif;
$font-family-mono: "Hack", monospace;
$font-family-tt: "Hack", monospace;
$font-size: 16px;
$line-height: 1.4;
$page-width: 40rem;
// Logo
$logo-width: 50px;
$logo-height: 50px;
$logo-grayout: true;
// Colors
$colors: "dark" // white dark light classic