<div class="horizontal-rule"></div>
<div id="footer">
    {{ if .Site.Params.socialIcons }}
    <div class="footer-bar">
        {{ range $item := .Site.Params.socialIcons }}
        <a href="{{ $item.url }}" class="{{ $item.icon }} fa-1x" title="{{ $item.title }}"></a>
        &nbsp;
        {{ end }}
    </div>
    {{ end }}
    {{ with .Site.Params.footer }}
    <div id="copyright">
        <small>{{ .text }}</small>
    </div>
    {{ end }}
</div>

{{ $ts := resources.Get "ts/font-size.ts" | js.Build }}
<script src="{{ $ts.RelPermalink }}" defer></script>

{{ $ts := resources.Get "ts/tweaks.ts" | js.Build }}
<script src="{{ $ts.RelPermalink }}" defer></script>