<div class="horizontal-rule"></div>
<div id="footer">
    {{ if .Site.Params.socialIcons }}
    <div class="footer-bar">
        {{ range $item := .Site.Params.socialIcons }}
        <a href="{{ $item.url }}" class="{{ $item.icon }} fa-1x" title="{{ $item.title }}"></a>
        &nbsp;
        {{ end }}

        <noscript><a href='https://ko-fi.com/B0B3CTXXW' target='_blank'><img height='36'
            style='border:0px;height:36px;' src='https://cdn.ko-fi.com/cdn/kofi5.png?v=3'
            alt='support me at ko-fi' /></a></noscript>
        <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script>
        <script type='text/javascript'>
            kofiwidget2.init('support me on ko-fi', '{{ .Site.Params.style.colorBlack }}', 'B0B3CTXXW');
            kofiwidget2.draw();
        </script>
    </div>
    {{ end }}
    {{ with .Site.Params.footer }}
    <div id="copyright">
        <small>{{ .text }}</small>
    </div>
    {{ end }}
</div>

{{ $ts := resources.Get "ts/font-size.ts" | js.Build }}
<script src="{{ $ts.RelPermalink }}" defer></script>

{{ $ts := resources.Get "ts/tweaks.ts" | js.Build }}
<script src="{{ $ts.RelPermalink }}" defer></script>