<div id="footer" class="mb-5">
    <hr>
    {{ if .Site.Params.socialIcons }}
    <div class="container footer-bar">
        {{ range $item := .Site.Params.socialIcons }}
        <a href="{{ $item.url }}" class="{{ $item.icon }} fa-1x" title="{{ $item.title }}"></a>
        &nbsp;
        {{ end }}

        <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script>
        <script type='text/javascript'>
            kofiwidget2.init('support me on ko-fi!', '{{ .Site.Params.style.colorBlack }}', 'B0B3CTXXW');
            kofiwidget2.draw();
        </script>
    </div>
    {{ end }}
    {{ with .Site.Params.footer }}
    <div class="container">
        <small>{{ .text }}</small>
    </div>
    {{ end }}
</div>

{{ $ts := resources.Get "ts/font-size.ts" | js.Build }}
<script src="{{ $ts.RelPermalink }}" defer></script>

{{ $ts := resources.Get "ts/tweaks.ts" | js.Build }}
<script src="{{ $ts.RelPermalink }}" defer></script>