.bib {
    h2 {
        position: relative;
        margin-left: 0;
        background-color: var(--bg-color);
        &::after {
            content: "";
            display: block;
            position: absolute;
            border-top: 1px solid var(--muted-color);
            top: 0.75em;
            width: 100%;
            left: 0%;
        }
        span {
            background-color: var(--bg-color);
            position: relative;
            padding-right: 1em;
            z-index: 1;
        }
    }
}

.bib-item {
    margin-bottom: 1em;

    .bibtex {
        display: none;
        text-indent: 0;
    }

    .show-bibtex {
        display: block;
        text-indent: 0;
        pre {
            font-size: 0.85rem;
            font-variant-numeric: normal;
            overflow-x: scroll;
        }
    }

    .bib-links {
        display: flex;
        text-indent: 0;
        font-family: var(--alt-font);
        font-feature-settings: "ss10";

        a, button {
            margin-right: 0.5em;
        }

        @media all and (hover) {
            a:hover {
                text-decoration: underline;
            }
        }

        button {
            position: relative;
            font-feature-settings: "ss10";
            background-color: var(--bg-color);
            color: var(--fg-color);
            border-style: hidden;
            border-radius: 8pt;
            transition-duration: 0.1s;
            padding: 0 0.5em 0.15em 0.5em;
            top: 0.09em;
            transition-property: background-color;
            @media all and (hover) {
                &:hover {
                    background-color: rgb(238, 238, 238);
                }
                @media (prefers-color-scheme: dark) {
                    &:hover {
                        background-color: rgb(50, 50, 50);
                    }
                }
            }

            &:active {
                background-color: rgb(175, 175, 175);
            }

            @media (prefers-color-scheme: dark) {
                &:active {
                    background-color: rgb(80, 80, 80);
                }
            }
        }
    }
}