.bib-item {
    margin-bottom: 1em;
    padding-left: 1em;
    text-indent: -1em;

    .bibtex {
        display: none;
        text-indent: 0;
    }

    .show-bibtex {
        display: block;
        text-indent: 0;
        pre {
            font-size: 0.85rem;
            font-variant-numeric: normal;
            overflow-x: scroll;
        }
    }

    .bib-links {
        display: flex;
        text-indent: 0;
        font-family: var(--alt-font);
        font-feature-settings: "ss10";

        a, button {
            margin-right: 0.5em;
        }

        @media all and (hover) {
            a:hover {
                text-decoration: underline;
            }
        }

        button {
            position: relative;
            font-feature-settings: "ss10";
            background-color: var(--bg-color);
            color: var(--fg-color);
            border-style: hidden;
            border-radius: 8pt;
            transition-duration: 0.1s;
            padding: 0 0.5em 0.15em 0.5em;
            top: 0.09em;
            transition-property: background-color;
            @media all and (hover) {
                &:hover {
                    background-color: rgb(212, 212, 212);
                }
            }

            &:active {
                background-color: rgb(175, 175, 175);
            }
        }
    }
}