.cite-list {
    @include defaults;
    font-family: var(--main-font);
    line-height: 1.45;

    a.return {
        font-family: var(--alt-font);
        color: var(--muted-color);
        padding-left: 1ch;
    }
}