.cite-list {
    @include defaults;
    font-family: var(--main-font);
    line-height: 1.45;

    a {
        text-decoration: underline;
        text-decoration-color: transparent;
        transition-property: text-decoration-color;
        transition-timing-function: ease-in-out;
        transition-duration: 0.1s;

        @media (hover) {
            &:hover {
                text-decoration-color: var(--muted-color);
                text-decoration-skip-ink: all;
            }
        }

        @media not all and (hover) {
            text-decoration-color: var(--muted-color);
            text-decoration-skip-ink: all;
        }
    }
}