figure {
    text-align: center;
    img {
        margin: 0 0 1rem 0;
    }
    img:last-child {
        margin-bottom: 0;
    }

    figcaption {
        color: var(--muted-color);
    }
}

video {
    margin: 0rem 0 1rem 0;
}
